# Importing Important Liabraries

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

### Importing csv File

In [2]:
df = pd.read_csv("Bengaluru_House_Data.csv")

### Analysing the DataFrame

In [3]:
df.head()

,area_type,availability,location,size,society,total_sqft,bath,balcony,price
0,Super built-up Area,19-Dec,Electronic City Phase II,2 BHK,Coomee,1056,2.0,1.0,39.07
1,Plot Area,Ready To Move,Chikka Tirupathi,4 Bedroom,Theanmp,2600,5.0,3.0,120.00
2,Built-up Area,Ready To Move,Uttarahalli,3 BHK,NaN,1440,2.0,3.0,62.00
3,Super built-up Area,Ready To Move,Lingadheeranahalli,3 BHK,Soiewre,1521,3.0,1.0,95.00
4,Super built-up Area,Ready To Move,Kothanur,2 BHK,NaN,1200,2.0,1.0,51.00

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 13320 entries, 0 to 13319
Data columns (total 9 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   area_type     13320 non-null  object
 1   availability  13320 non-null  object
 2   location      13319 non-null  object
 3   size          13304 non-null  object
 4   society       7818 non-null   object
 5   total_sqft    13320 non-null  object
 6   bath          13247 non-null  float64
 7   balcony       12711 non-null  float64
 8   price         13320 non-null  float64
dtypes: float64(3), object(6)
memory usage: 936.7+ KB

In [5]:
df.shape

(13320, 9)

In [6]:
df.describe()

               bath       balcony         price
count  13247.000000  12711.000000  13320.000000
mean       2.692610      1.584376    112.565627
std        1.341458      0.817263    148.971674
min        1.000000      0.000000      8.000000
25%        2.000000      1.000000     50.000000
50%        2.000000      2.000000     72.000000
75%        3.000000      2.000000    120.000000
max       40.000000      3.000000   3600.000000

In [7]:
Data Cleaning

SyntaxError: invalid syntax (<ipython-input-7-ee56db633f04>, line 1)

In [ ]:
df.isnull().sum()

### Society as large number of null values.

In [ ]:
df = df.drop(["society"], axis = 1)

In [ ]:
df.head()

#### Large number of rows in balcony have null values. They can be filled with mode of balcony column.

In [ ]:
df['balcony'].fillna(df['balcony'].mode(), inplace=True)

In [ ]:
df.dropna(axis = 0, inplace = True)

In [ ]:
df.isnull().sum()

### Data Manipulation

In [ ]:
df.info()

In [ ]:
df.nunique()

In [ ]:
df["area_type"].unique()

In [ ]:

df["availability"].unique()

#### Availability doesn't seems to be an important feature. Thus, it can dropped from original DataFrame.

In [ ]:
df = df.drop(["availability"], axis = 1)

In [ ]:
df["location"].unique()

In [ ]:
df["size"].unique()

#### BHK and Bedroom indicate same feature. Bedroom can be replaced with BHK.

In [ ]:
df["size"] = df["size"].str.replace("Bedroom", "BHK")

In [ ]:
df["size"].unique()

In [ ]:
df["total_sqft"].unique()

#### Some data exists in form of range of square feet, which can be replaced by mean of those numbers.

In [ ]:
df["total_sqft"]= df["total_sqft"].astype(str)

In [ ]:
def sqft(x):
    y = x.split("-")
    if len(y) == 2:
        return (float(y[0])+float(y[1]))/2
    elif len(y) == 1:
        return x
    else:
        return None

In [ ]:
df["total_sqft"] = df["total_sqft"].apply(sqft)

In [ ]:
df["total_sqft"].unique()

In [ ]:
df.info()

In [ ]:
df["total_sqft"]= df["total_sqft"].str.replace("Sq. Meter", "")
df["total_sqft"]= df["total_sqft"].str.replace("Acres", "")
df["total_sqft"]= df["total_sqft"].str.replace("Sq. Yard", "")
df["total_sqft"]= df["total_sqft"].str.replace("s", "")
df["total_sqft"]= df["total_sqft"].str.replace("Cent", "")
df["total_sqft"]= df["total_sqft"].str.replace("Guntha", "")
df["total_sqft"]= df["total_sqft"].str.replace("Ground", "")

In [ ]:
df["total_sqft"]= df["total_sqft"].astype(float)

In [ ]:
df["bath"].unique()

In [ ]:
df["balcony"].unique()

#### Deriving new feature

In [ ]:
df["price_per_sqft"] = df["price"]*100000/df["total_sqft"]
df.head()

In [ ]:
df = df.reset_index(drop=True)

### Visualisation

In [ ]:
df.head()

In [ ]:
sns.histplot(df.area_type, color = "green")
plt.show()

In [ ]:
for col in ["total_sqft", "bath", "balcony", "price_per_sqft"]:
    plt.figure(figsize=(9,6));
    sns.boxenplot(y=col,data=df,palette='summer');
    plt.title(f'Outliers in {col}',fontsize=25,fontweight=5);
    plt.show()

#### As we can see there are outliers present in total_sqft, bath and price_per_sqft which must be removed.

In [ ]:
print(np.where((df["total_sqft"]<100) | (df['total_sqft']>5000)))

In [ ]:
House with size less than 100 and more than 5000 square feet is impractical. Thus, such outliers will be removed.

In [ ]:
df = df[(df["total_sqft"] >= 100) | (df["total_sqft"] <= 5000)]

#### Houses with more than 10 bathrooms are acting as outliers.

In [ ]:
print(np.where(df["bath"]<10))
add Codeadd Markdown

In [ ]:
df = df[(df["bath"] <= 10)]

In [ ]:
print(np.where((df["price_per_sqft"]<1000) | (df['price_per_sqft']>50000)))

#### Houses with price more than 50,000 per square feet are acting as outliers.

In [ ]:
df = df[(df["price_per_sqft"]>=1000) | (df['price_per_sqft']<=50000)]

In [ ]:
df.info()

### Label Encoding

In [ ]:
from sklearn.preprocessing import LabelEncoder

In [ ]:
encoder = LabelEncoder()
df['area_type'] = encoder.fit_transform(df['area_type'])
df['location'] = encoder.fit_transform(df['location'])
df['size'] = encoder.fit_transform(df['size'])

In [ ]:
df.head()

#### Corelation of Price with different features

In [ ]:
plt.figure(figsize = (12,9))
sns.heatmap(df.corr(), annot = True, cmap = "magma_r")
plt.title("Correlation Heatmap",fontdict = {"fontweight":"bold"})
plt.show()

#### area_type and location has very little correlation with price. So, these features can be removed.

In [ ]:
x = df.drop(["price", "area_type", "location"], axis = 1)

In [ ]:
y = df["price"]

In [ ]:
x = x.values
y = y.values

### Test Train Split

In [ ]:
from sklearn.model_selection import train_test_split

In [ ]:
x_train, x_test, y_train, y_test = train_test_split(x,y, test_size = 0.2)

#### Applying Linear Model Regression

In [ ]:
from sklearn import linear_model

In [ ]:
model = linear_model.LinearRegression()

In [ ]:
model.fit(x_train, y_train)

In [ ]:
y_pred = model.predict(x_test)

In [ ]:
from sklearn.metrics import r2_score

In [ ]:
r2_score = model.score(x_test,y_test)

In [ ]:
print(r2_score*100,'%')

#### Applying Random Forest Regressor

In [ ]:
from sklearn.ensemble import RandomForestRegressor

In [ ]:
model=RandomForestRegressor(n_estimators=10, verbose=4)

In [ ]:
model.fit(x_train, y_train)

In [ ]:
y_pred = model.predict(x_test)

In [ ]:
r2_score = model.score(x_test,y_test)

In [ ]:
print(r2_score*100,'%')


#### Applying decision Tree Regressor

In [ ]:
from sklearn.tree import DecisionTreeRegressor

In [ ]:
model = DecisionTreeRegressor()

In [ ]:
model.fit(x_train, y_train)

In [ ]:
y_pred = model.predict(x_test)

In [ ]:
r2_score = model.score(x_test,y_test)

In [ ]:
print(r2_score*100,'%')

#### Applying KNeighors Regressor

In [ ]:
from sklearn.neighbors import KNeighborsRegressor

In [ ]:
model = KNeighborsRegressor(n_neighbors=10)

In [ ]:
model.fit(x_train, y_train)

In [ ]:
y_pred = model.predict(x_test)

In [ ]:
r2_score = model.score(x_test,y_test)

In [ ]:
print(r2_score*100,'%')

#### Random Forest Regressor has shown highest accuracy, followed by Decision Tree and KNeighbors Regressor. Linear Regressor has shown lowest accuracy.